.snake-ladder-grid {
    min-width: 150vh;
    min-height: 100vh;
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
    border: 1px solid;
    background-color: black;
    color: white;
}